.date-column {
  min-width: 10rem;
}
.action a {
  display: inline-block;
  font-size: 75%;
  margin-right: 1rem;
}
.post {
  cursor: pointer;
}

.post-image {
  float: left;
}

.small {
  font-size: 75%;
}

.post-content {
  margin-bottom: 1rem;
}

.post .post-content {
  display:none;
}

.post-image {
  display: inline-block;
  float: left;
  width: 50%;
  max-width: 250px;
  margin: 0 1rem 1rem 0;
}

.clickable {
  cursor: pointer;
}
.summary::after {
  clear: both;
  content: "";
  display: block;
}
