<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Blog Posts</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'blog.list' %}" class="pure-menu-link">
      <i class="fa fa-comments-o"></i>
      Blog Posts
    </a>
  </div>
</div>


