{% extends 'blog/base.html' %}
{% load thumbnail %}

{% block title %}
  Blog Posts
{% endblock title %}

{% block sub_heading %}
  Blog Posts
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'blog.create' %}" class="pure-menu-link"><i class="fa fa-plus"></i> New Post</a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'blog.home' %}" class="pure-menu-link"><i class="fa fa-home"></i> Blog home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th class="date-column">Date</th>
            <th>Author</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for o in blogpost_list %}
            <tr valign="top"{% if o.deleted %} style="text-decoration: line-through;"{% endif %}>
              <td>
                <p>
                  {{ o.created|date:'d/m/Y' }}
                  {{ o.created|date:'H:i A' }}
                </p>
                <span class="action">
                {% if not o.deleted %}
                {% if not o.date_published %}<a href="{% url 'blog.publish' o.pk %}"><i class="fa fa-check"></i> Publish</a>{% endif %}
                <a href="{% url 'blog.preview' o.pk %}"><i class="fa fa-desktop"></i> Preview</a>
                <a href="{% url 'blog.update' o.pk %}"><i class="fa fa-edit"></i> Edit</a>
                <a href="{% url 'blog.delete' o.pk %}"><i class="fa fa-trash"></i> Delete</a>
                {% for url in o.wizard_urls %}
                <a href="{{ url.url }}">
                  <i class="{{ url.class }}"></i>
                  {{ url.caption }}
                </a>
                {% endfor %}
                {% endif %}
              </td>
              <td>
                {% if o.author %}{{ o.author }}{% endif %}
              </td>
              <td>
                <div class="post" title="Click to toggle between full text of the article and a summary">
                  {% if o.title %}
                    <p><strong>{{ o.title }}</strong></p>
                  {% endif %}
                  <div class="post-summary">
                    {% if o.picture and o.picture.image %}
                    <img class="post-image" src="{% thumbnail o.picture.image '250x0' %}">
                    {% endif %}
                    {% autoescape off %}
                    {{ o.description|truncatewords:50 }}
                    {% endautoescape %}
                  </div>
                  <div class="post-content">
                    {% if o.picture %}
                    <img class="post-image" src="{% thumbnail o.picture.image '250x0' %}">
                    {% endif %}
                    {% autoescape off %}
                    {{ o.description|urlize }}
                  {% endautoescape %}
                  </div>
                  </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  <script>

    $(".post").click(function () {
      content = $(this).find('.post-content');
      summary = $(this).find('.post-summary');
      if ($(content).is(":visible")) {
        content.hide();
        summary.show();
      }
      else {
        content.show();
        summary.hide();
      }
    });
  </script>
{% endblock script_extra %}
