{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish blog post: {{ object.title }}
{% endblock sub_title %}

{% block sub_heading %}
  Publish blog post: {{ object.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td><strong>Title</strong></td>
              <td>{{ object.title }}</td>
            </tr>
            <tr valign="top">
              <td><strong>Author</strong></td>
              <td>
                {{ object.author }}
              </td>
            </tr>
            <tr valign="top">
              <td><strong>Body</strong></td>
              <td>
                {% autoescape off %}
                  {{ object.description }}
                {% endautoescape %}
              </td>
            </tr>
            {% if object.picture and object.picture.image %}
              <tr valign="top">
                <td><strong>Picture</strong></td>
                <td>
                  <img src="{% thumbnail object.picture.image 100x0 quality=100 crop %}" />
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1">
      {% include '_form.html' with legend='Are you sure you want to publish this post?' submit='Publish' %}
    </div>
  </div>
{% endblock content %}
