{% extends "blog/base.html" %}

{% block sub_title %}
  {% if object %}
  Update blog post: {{ object.title }} - {% if object.date_published %} Published {{ object.date_published }}{% else %}Not Published{% endif %}
  {% else %}
  Create a blog post
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
  Update blog post: {{ object.title }} - {% if object.date_published %} Published {{ object.date_published }}{% else %}Not Published{% endif %}
  {% else %}
  Create a blog post
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Blog Post' multipart=True inline_checkbox=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
