{% load thumbnail %}

<div class="summary{% if click_for_post %} clickable{% endif %}" id="{{ object.slug }}">
  <h2>{{ object.title}}</h2>
  <p class="small">
    {% if object.author %}Author: {{ object.author }}{% endif %}
    {% if object.date_published %} Date : {{ object.date_published }}{% endif %}
  </p>
  <div class="post-content">
    {% autoescape off %}
    {% if object.picture and object.picture.image %}<img class="post-image"src="{% thumbnail object.picture.image 250x0 %}">{% endif %}
    {{ object.description|truncatewords:50 }}
    {% endautoescape %}
  </div>
</div>

{% if click_for_post %}
<script>
  document.getElementById("{{ object.slug }}").addEventListener("click", function() {
    window.location.href="{% url 'blog.post' object.slug %}";
  });
</script>
{% endif %}
