{% load thumbnail %}

<div class="pure-u-1">
  <h2>{{ object.title}}</h2>
  <p class="small">
    {% if object.author %}Author: {{ object.author }}{% endif %}
    {% if object.date_published %} Date : {{ object.date_published }}{% endif %}
  </p>
  <div class="post-content">
    {% autoescape off %}
    {% if object.picture and object.picture.image %}<img class="post-image"src="{% thumbnail object.picture.image 250x0 %}">{% endif %}
    {{ object.description }}
    {% endautoescape %}
  </div>
</div>
