{% extends 'example/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'blog.list' %}" class="pure-menu-link"><i class="fa fa-comments-o"></i> List of Posts</a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'blog.create' %}" class="pure-menu-link"><i class="fa fa-plus"></i> New Post</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% for object in object_list %}
      {% include "blog/_blogpost_summary.html" with click_for_post=True %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}

