{% extends 'example/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if not object.date_published %}
          <li class="pure-menu-item">
            <a href="{% url 'blog.publish' object.pk %}" class="pure-menu-link"><i class="fa fa-check"></i> Publish</a>
          </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="{% url 'blog.update' object.pk %}" class="pure-menu-link"><i class="fa fa-edit"></i> Edit</a>
          </li>
          {% for url in object.wizard_urls %}
          <li class="pure-menu-item">
            <a href="{{ url.url }}" class="pure-menu-link"><i class="{{ url.class }}"></i> {{ url.caption }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Preview - Summary</h1>
      {% include "blog/_blogpost_summary.html" %}
      <h1>Preview - Full Article</h1>
      {% include "blog/_blogpost.html" %}
    </div>
  </div>
{% endblock content %}

